/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Rubik", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

.zbozi {
  display: flex;
  width: 670px;
  height: 440px;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 6rem;
}

.vizual {
  width: 50%;
  background: linear-gradient(to bottom, #06d7c1, #50cc49);
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: lightgrey 4px 5px 14px;
}

.logo img {
  position: absolute;
  top: 30px;
  left: 30px;
}

.slogan {
  font-size: 16px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 84px;
  left: 30px;
}

.bota img {
  position: absolute;
  left: -80px;
  top: 145px;
}

.cenovka {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.cena {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: right;
  margin-bottom: 0.6rem;
}

.zaruka {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.detaily {
  width: 50%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
  position: relative;
  box-shadow: lightgrey 4px 5px 14px;
}

.nazev {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.produkt {
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.popis {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #06d7c1;
}

.parametr {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0.4rem;
}

.velikosti {
  display: flex;
  justify-content: space-around;
}

.velikosti button {
  background-color: white;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.velikosti .vybrana {
  color: #f15f42;
  font-weight: bold;
  border: 1px solid #f15f42;
  border-radius: 50%;
  padding: 0.5rem;
}

.velikosti button:hover {
  color: #f15f42;
  font-weight: bold;
  border: 1px solid #f15f42;
  border-radius: 50%;
  padding: 0.5rem;
}

.tlacitko {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.akce {
  background-color: #f15f42;
  border: 1px solid #f15f42;
  border: none;
  border-radius: 5px;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: absolute;
  bottom: 30px;
}
